
@model Finance.Contracts.Response.Reports.ReportRespObj
@{ var investList = Model.Investments.ToList(); }


<div class="container">
    <div class="row col-md-12">
        <h2>INVESTMENT REPORT</h2>
    </div>
    <div class="row col-md-12">
        <div><h5>FROM : <i>@(investList.FirstOrDefault().From.Date.ToString("dd MMMM yyyy"))</i>&nbsp;&nbsp; TO : <i>@(investList.FirstOrDefault().To.Date.ToString("dd MMMM yyyy"))</i></h5></div>
    </div>
    <div style="margin-top:10px;">
        <h5>
            TOTAL : @Html.DisplayFor(model => model.Investments.FirstOrDefault().Total)
        </h5>
    </div>
    <div style="margin-top:10px;">
        <h5>
            SUM : @Html.DisplayFor(model => model.Investments.FirstOrDefault().Sum)
        </h5>
    </div>


    <div style="margin-top:30px; font-size:15px;" class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Investment ID</th>
                    <th>Product Name</th>
                    <th>Account Number</th>
                    <th>Customer Name</th>
                    <th>Industry</th>
                    <th>Investment Date</th>
                    <th>Maturity Date</th>
                    <th>Investment Amount</th>
                    <th>Investment Status</th>
                    <th>Approved Rate</th>
                    <th>Approved Tenor</th>
                    <th>Account Officer</th>
                    <th>Total Interest</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Investments)
                {
                    <tr>
                        <td>@(item.SN)</td>
                        <td>@(item.InvestmentID)</td>
                        <td>@(item.ProductName)</td>
                        <td>@(item.LinkedAccountNumber)</td>
                        <td>@(item.CustomerName)</td>
                        <td>@(item.Industry)</td>
                        <td>@(item.InvestmentDate.Value.Date.ToString("MM/dd/yyyy"))</td>
                        <td>@(item.MaturityDate.Value.Date.ToString("MM/dd/yyyy"))</td>
                        <td>@(item.InvestmentAmount)</td>
                        <td>@(item.InvestmentStatus)</td>
                        <td>@(item.ApprovedRate)</td>
                        <td>@(item.ApprovedTenor)</td>
                        <td>@(item.AccountOfficer)</td>
                        <td>@(item.TotalInterest.ToString("#,##0.00"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

